// Project by louisma

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Smarthome Control</title>
<link rel="icon" href="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/house-icon.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <br>
  <div class="jumbotron">
    <div class="panel panel-info">
      <div class="panel-heading">Address Group 1</div>
      <div class="panel-body">

        Example<br>
        <button type="button" class="btn btn-success" onclick="new Image().src = 'http://localhost/knx.php?adr=1/1/1&pwr=1'">On</button>
        <button type="button" class="btn btn-danger" onclick="new Image().src = 'http://localhost/knx.php?adr=1/1/1&pwr=0'">Off</button><br><br>

      </div>
    </div>
  </div>
</div>
</body>
